# Futuramente colocar datas

In [15]:
import pandas as pd
import numpy as np
import datetime as dt

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Importar os dados do MT5 de tick, resto se faz sozinho

In [17]:
df = pd.read_csv('/content/drive/MyDrive/My_Project/Colab Teste/teste.csv', sep='\t').rename(columns={'<DATE>':'Date','<TIME>':'Time','<BID>':'Bid','<ASK>':'Ask'})[['Date','Time','Bid','Ask']]
df

               Date          Time      Bid      Ask
0        2021.01.04  00:01:55.460  1.22395  1.22455
1        2021.01.04  00:02:00.190  1.22393  1.22445
2        2021.01.04  00:02:10.442  1.22394      NaN
3        2021.01.04  00:02:31.940      NaN  1.22435
4        2021.01.04  00:02:36.444  1.22396  1.22434
...             ...           ...      ...      ...
6589535  2021.04.02  00:43:35.558  1.17763  1.17786
6589536  2021.04.02  00:43:41.722  1.17761  1.17789
6589537  2021.04.02  00:44:11.415  1.17761      NaN
6589538  2021.04.02  00:44:11.415  1.17757  1.17785
6589539  2021.04.02  00:44:11.509  1.17761  1.17789

[6589540 rows x 4 columns]

In [23]:
df['Test_Date'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])
df.drop(columns=['Date','Time'],inplace=True)
df

             Bid      Ask               Test_Date
0        1.22395  1.22455 2021-01-04 00:01:55.460
1        1.22393  1.22445 2021-01-04 00:02:00.190
2        1.22394      NaN 2021-01-04 00:02:10.442
3            NaN  1.22435 2021-01-04 00:02:31.940
4        1.22396  1.22434 2021-01-04 00:02:36.444
...          ...      ...                     ...
6589535  1.17763  1.17786 2021-04-02 00:43:35.558
6589536  1.17761  1.17789 2021-04-02 00:43:41.722
6589537  1.17761      NaN 2021-04-02 00:44:11.415
6589538  1.17757  1.17785 2021-04-02 00:44:11.415
6589539  1.17761  1.17789 2021-04-02 00:44:11.509

[6589540 rows x 3 columns]

In [86]:
high = df.groupby([df['Test_Date'].dt.month, df['Test_Date'].dt.day, df['Test_Date'].dt.hour, df['Test_Date'].dt.minute], as_index=False).max().drop(columns=['Test_Date'])
high

           Bid      Ask
0      1.22395  1.22455
1      1.22396  1.22445
2      1.22374  1.22443
3      1.22374  1.22406
4      1.22337  1.22365
...        ...      ...
91964  1.17765  1.17793
91965  1.17761  1.17789
91966  1.17762  1.17789
91967  1.17770  1.17789
91968  1.17761  1.17789

[91969 rows x 2 columns]

In [98]:
91969 * 41

3770729

In [97]:
63000 / 1532

41.12271540469974

In [99]:
3770729 / 63000

59.85284126984127

In [88]:
high = pd.DataFrame(high.values.max(axis=1), columns=['High'])
high

          High
0      1.22455
1      1.22445
2      1.22443
3      1.22406
4      1.22365
...        ...
91964  1.17793
91965  1.17789
91966  1.17789
91967  1.17789
91968  1.17789

[91969 rows x 1 columns]

In [89]:
high.isna().sum()

High    92
dtype: int64

In [94]:
high = df.groupby([df['Test_Date'].dt.month, df['Test_Date'].dt.day, df['Test_Date'].dt.hour, df['Test_Date'].dt.minute]).mean()
high

                                              Bid       Ask
Test_Date Test_Date Test_Date Test_Date
1         4         0         1          1.223950  1.224550
                              2          1.223890  1.224373
                              3          1.223718  1.224150
                              4          1.223032  1.224035
                              5          1.223300  1.223580
...                                           ...       ...
4         2         0         40         1.177596  1.177874
                              41         1.177592  1.177876
                              42         1.177611  1.177870
                              43         1.177622  1.177860
                              44         1.177597  1.177870

[91969 rows x 2 columns]