In [1]:
import MetaTrader5 as mt5
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
def get_data(symbol, date_from, date_to):
    eurusd = pd.DataFrame(mt5.copy_rates_range(symbol, mt5.TIMEFRAME_M1, date_from, date_to))
    eurusd['time']=pd.to_datetime(eurusd['time'], unit='s')
    return eurusd
#eurusd.set_index('time', inplace=True)

In [3]:
ALL_PAIRS = ('EURCHF','EURGBP','EURJPY','EURNZD','EURUSD','EURAUD','EURCAD',
             'GBPAUD','GBPCHF','GBPJPY','GBPCAD','GBPUSD','GBPNZD','USDCHF',
             'USDJPY','AUDUSD','NZDUSD','USDCAD','AUDJPY','CADJPY','CHFJPY',
             'NZDJPY','AUDCHF','CADCHF','NZDCHF','AUDNZD','NZDCAD','AUDCAD')

ALL_PAIRS1 = ('EURCHF','EURGBP','EURJPY','EURNZD','EURUSD','EURAUD','EURCAD')

ALL_PAIRS2 = ('GBPAUD','GBPCHF','GBPJPY','GBPCAD','GBPUSD','GBPNZD','USDCHF')

ALL_PAIRS3 = ('USDJPY','AUDUSD','NZDUSD','USDCAD','AUDJPY','CADJPY','CHFJPY')

ALL_PAIRS4 = ('NZDJPY','AUDCHF','CADCHF','NZDCHF','AUDNZD','NZDCAD','AUDCAD')

ALL_PAIRS_OPEN = ('EURCHF_Open','EURGBP_Open','EURJPY_Open','EURNZD_Open','EURUSD_Open','EURAUD_Open','EURCAD_Open',
                  'GBPAUD_Open','GBPCHF_Open','GBPJPY_Open','GBPCAD_Open','GBPUSD_Open','GBPNZD_Open','USDCHF_Open',
                  'USDJPY_Open','AUDUSD_Open','NZDUSD_Open','USDCAD_Open','AUDJPY_Open','CADJPY_Open','CHFJPY_Open',
                  'NZDJPY_Open','AUDCHF_Open','CADCHF_Open','NZDCHF_Open','AUDNZD_Open','NZDCAD_Open','AUDCAD_Open')

ALL_PAIRS_CLOSE = ('EURCHF_Close','EURGBP_Close','EURJPY_Close','EURNZD_Close','EURUSD_Close','EURAUD_Close','EURCAD_Close',
                  'GBPAUD_Close','GBPCHF_Close','GBPJPY_Close','GBPCAD_Close','GBPUSD_Close','GBPNZD_Close','USDCHF_Close',
                  'USDJPY_Close','AUDUSD_Close','NZDUSD_Close','USDCAD_Close','AUDJPY_Close','CADJPY_Close','CHFJPY_Close',
                  'NZDJPY_Close','AUDCHF_Close','CADCHF_Close','NZDCHF_Close','AUDNZD_Close','NZDCAD_Close','AUDCAD_Close')

ALL_PAIRS_HIGH = ('EURCHF_High','EURGBP_High','EURJPY_High','EURNZD_High','EURUSD_High','EURAUD_High','EURCAD_High',
                  'GBPAUD_High','GBPCHF_High','GBPJPY_High','GBPCAD_High','GBPUSD_High','GBPNZD_High','USDCHF_High',
                  'USDJPY_High','AUDUSD_High','NZDUSD_High','USDCAD_High','AUDJPY_High','CADJPY_High','CHFJPY_High',
                  'NZDJPY_High','AUDCHF_High','CADCHF_High','NZDCHF_High','AUDNZD_High','NZDCAD_High','AUDCAD_High')

ALL_PAIRS_LOW = ('EURCHF_Low','EURGBP_Low','EURJPY_Low','EURNZD_Low','EURUSD_Low','EURAUD_Low','EURCAD_Low',
                  'GBPAUD_Low','GBPCHF_Low','GBPJPY_Low','GBPCAD_Low','GBPUSD_Low','GBPNZD_Low','USDCHF_Low',
                  'USDJPY_Low','AUDUSD_Low','NZDUSD_Low','USDCAD_Low','AUDJPY_Low','CADJPY_Low','CHFJPY_Low',
                  'NZDJPY_Low','AUDCHF_Low','CADCHF_Low','NZDCHF_Low','AUDNZD_Low','NZDCAD_Low','AUDCAD_Low')

In [16]:
if not mt5.initialize(login=50549136, password='TqmGUgqp', server='ICMarketsSC-Demo'):
    print("initialize() failed")
    mt5.shutdown()
    
date_from=datetime(2011,1,1)
date_to=datetime.today()
nans = []
    
for index, values in enumerate(ALL_PAIRS4):
    #pairs = pd.DataFrame()
    get = pd.DataFrame(get_data(values, date_from, date_to)).rename(columns={'open':ALL_PAIRS_OPEN[index], 'high':ALL_PAIRS_HIGH[index], 'low':ALL_PAIRS_LOW[index], 'close':ALL_PAIRS_CLOSE[index]}).iloc[:,:5]
    #pairs[ALL_PAIRS_OPEN[index]] = get[ALL_PAIRS_OPEN[index]]
    #pairs[ALL_PAIRS_HIGH[index]] = get[ALL_PAIRS_HIGH[index]]
    #pairs[ALL_PAIRS_LOW[index]] = get[ALL_PAIRS_LOW[index]]
    #pairs[ALL_PAIRS_CLOSE[index]] = get[ALL_PAIRS_CLOSE[index]]
    get.to_csv(f'{values}.csv', sep=',')
    #a = pd.DataFrame(get_data(values, date_from, date_to))
    
    #nans.append(a[['open','high','low','close']].isna().sum().sum())
    

mt5.shutdown()

True

In [27]:
if not mt5.initialize(login=50549136, password='TqmGUgqp', server='ICMarketsSC-Demo'):
    print("initialize() failed")
    mt5.shutdown()
    
date_from=datetime(2000,1,1)
date_to=datetime.today()
    
get = pd.DataFrame(get_data('EURUSD', date_from, date_to)).rename(columns={'open':'EURUSD_Open', 'high':'EURUSD_High', 'low':'EURUSD_Low', 'close':'EURUSD_Close'})#.iloc[:,:5]
#get.to_csv(f'{values}.csv', sep=',')
    

mt5.shutdown()

True

In [30]:
get

,time,EURUSD_Open,EURUSD_High,EURUSD_Low,EURUSD_Close,tick_volume,spread,real_volume
0,2000-01-03 00:01:00,1.00730,1.00750,1.00730,1.00730,5,50,0
1,2000-01-03 00:02:00,1.00790,1.00790,1.00790,1.00790,1,50,0
2,2000-01-03 00:04:00,1.00780,1.00800,1.00770,1.00800,4,50,0
3,2000-01-03 00:12:00,1.00790,1.00790,1.00790,1.00790,1,50,0
4,2000-01-03 00:13:00,1.00800,1.00800,1.00770,1.00770,4,50,0
...,...,...,...,...,...,...,...,...
7747550,2021-05-21 23:52:00,1.21788,1.21794,1.21787,1.21794,12,0,0
7747551,2021-05-21 23:53:00,1.21794,1.21801,1.21794,1.21798,15,0,0
7747552,2021-05-21 23:54:00,1.21801,1.21808,1.21798,1.21808,17,0,0
7747553,2021-05-21 23:55:00,1.21808,1.21824,1.21807,1.21808,29,0,0
7747554,2021-05-21 23:56:00,1.21809,1.21813,1.21796,1.21803,37,0,0

In [31]:
get.isna().sum().sum()

0

In [32]:
get['time']

0         2000-01-03 00:01:00
1         2000-01-03 00:02:00
2         2000-01-03 00:04:00
3         2000-01-03 00:12:00
4         2000-01-03 00:13:00
                  ...
7747550   2021-05-21 23:52:00
7747551   2021-05-21 23:53:00
7747552   2021-05-21 23:54:00
7747553   2021-05-21 23:55:00
7747554   2021-05-21 23:56:00
Name: time, Length: 7747555, dtype: datetime64[ns]