In [12]:
import sqlite3
import numpy as np

In [2]:
conn = sqlite3.connect('data.db') # Permanete
# conn = sqlite3.connect(':memory:') # cria na memória

In [4]:
# Create a cursor
c = conn.cursor()

In [6]:
# Create a Table - Sensitive Case
c.execute("""CREATE TABLE prices (
        open real,
        high real,
        low real,
        close real
    )""")

# Em uma linha
#c.execute("CREATE TABLE prices (open = DATATYPE, high = DATATYPE, low = DATATYPE, close = DATATYPE)")

# Datatypes:
# NULL - Existe ou não existe, not null or null
# INTEGER - int
# REAL - float
# TEXT - str
# BLOB - The value is a blob of data, stored exactly as it was input.

# Commit out command
conn.commit()

# Fechar conexão
conn.close()

In [11]:
#Colocar dados
conn = sqlite3.connect('data.db')

c = conn.cursor()

c.execute("INSERT INTO prices VALUES (1.59398, 1.28504, 1.28759, 1.28571)")

conn.commit()
conn.close()

In [21]:
#Colocar multiplos dados
conn = sqlite3.connect('data.db')

c = conn.cursor()

data = [
        (np.around(np.random.random(), 5), np.around(np.random.random(), 5), np.around(np.random.random(), 5), np.around(np.random.random(), 5)),
        (np.around(np.random.random(), 5), np.around(np.random.random(), 5), np.around(np.random.random(), 5), np.around(np.random.random(), 5)),
        (np.around(np.random.random(), 5), np.around(np.random.random(), 5), np.around(np.random.random(), 5), np.around(np.random.random(), 5)),
        (np.around(np.random.random(), 5), np.around(np.random.random(), 5), np.around(np.random.random(), 5), np.around(np.random.random(), 5))

        ]

c.executemany("INSERT INTO prices VALUES (?,?,?,?)", data)

conn.commit()
conn.close()

In [25]:
#Puxar dados
conn = sqlite3.connect('data.db')

c = conn.cursor()

c.execute("SELECT * FROM prices")
#c.fetchone() # retorna uma linha
#c.fetchmany(3) # retorna x valores
#c.fetchall() # retorna tudo

#print(c.fetchall())

something = c.fetchall() # Passa todos os dados

conn.commit()
conn.close()

In [26]:
something

[(1.12345, 1.23512, 1.12143, 1.12367),
 (1.15312, 1.58491, 1.58472, 1.38759),
 (1.59398, 1.28504, 1.28759, 1.28571),
 (0.5786, 0.97822, 0.37728, 0.21789),
 (0.2988, 0.83555, 0.63877, 0.55085),
 (0.08455, 0.72006, 0.86877, 0.35021),
 (0.23455, 0.14299, 0.28153, 0.56613)]

In [27]:
#Puxar dados e id
conn = sqlite3.connect('data.db')

c = conn.cursor()

c.execute("SELECT rowid, * FROM prices")
#c.fetchone() # retorna uma linha
#c.fetchmany(3) # retorna x valores
#c.fetchall() # retorna tudo

#print(c.fetchall())

something = c.fetchall() # Passa todos os dados

conn.commit()
conn.close()

In [28]:
something

[(1, 1.12345, 1.23512, 1.12143, 1.12367),
 (2, 1.15312, 1.58491, 1.58472, 1.38759),
 (3, 1.59398, 1.28504, 1.28759, 1.28571),
 (4, 0.5786, 0.97822, 0.37728, 0.21789),
 (5, 0.2988, 0.83555, 0.63877, 0.55085),
 (6, 0.08455, 0.72006, 0.86877, 0.35021),
 (7, 0.23455, 0.14299, 0.28153, 0.56613)]

In [29]:
# Where
conn = sqlite3.connect('data.db')

c = conn.cursor()

c.execute("SELECT rowid, * FROM prices WHERE rowid = 1")
#c.fetchone() # retorna uma linha
#c.fetchmany(3) # retorna x valores
#c.fetchall() # retorna tudo

#print(c.fetchall())

something = c.fetchall() # Passa todos os dados

conn.commit()
conn.close()

In [31]:
something

[(1, 1.12345, 1.23512, 1.12143, 1.12367)]

In [32]:
# Where
conn = sqlite3.connect('data.db')

c = conn.cursor()

c.execute("SELECT rowid, * FROM prices WHERE rowid > 1") # Pode usar WHERE com o LIKE
#c.fetchone() # retorna uma linha
#c.fetchmany(3) # retorna x valores
#c.fetchall() # retorna tudo

#print(c.fetchall())

something = c.fetchall() # Passa todos os dados

conn.commit()
conn.close()

In [33]:
something

[(2, 1.15312, 1.58491, 1.58472, 1.38759),
 (3, 1.59398, 1.28504, 1.28759, 1.28571),
 (4, 0.5786, 0.97822, 0.37728, 0.21789),
 (5, 0.2988, 0.83555, 0.63877, 0.55085),
 (6, 0.08455, 0.72006, 0.86877, 0.35021),
 (7, 0.23455, 0.14299, 0.28153, 0.56613)]

In [38]:
# Delete
conn = sqlite3.connect('data.db')

c = conn.cursor()

c.execute("Delete FROM prices WHERE rowid = 1") # Pode usar WHERE com o LIKE
#c.fetchone() # retorna uma linha
#c.fetchmany(3) # retorna x valores
#c.fetchall() # retorna tudo

#print(c.fetchall())
c.execute("SELECT rowid, * FROM prices")

something = c.fetchall() # Passa todos os dados

conn.commit()
conn.close()

In [39]:
something

[(2, 1.15312, 1.58491, 1.58472, 1.38759),
 (3, 1.59398, 1.28504, 1.28759, 1.28571),
 (4, 0.5786, 0.97822, 0.37728, 0.21789),
 (5, 0.2988, 0.83555, 0.63877, 0.55085),
 (6, 0.08455, 0.72006, 0.86877, 0.35021),
 (7, 0.23455, 0.14299, 0.28153, 0.56613)]

In [44]:
# Delete
conn = sqlite3.connect('data.db')

c = conn.cursor()

c.execute("SELECT rowid, * FROM prices ORDER BY close DESC") # Default is ASC

something = c.fetchall() # Passa todos os dados

conn.commit()
conn.close()

In [45]:
something

[(2, 1.15312, 1.58491, 1.58472, 1.38759),
 (3, 1.59398, 1.28504, 1.28759, 1.28571),
 (7, 0.23455, 0.14299, 0.28153, 0.56613),
 (5, 0.2988, 0.83555, 0.63877, 0.55085),
 (6, 0.08455, 0.72006, 0.86877, 0.35021),
 (4, 0.5786, 0.97822, 0.37728, 0.21789)]

In [46]:
# And
conn = sqlite3.connect('data.db')

c = conn.cursor()

c.execute("SELECT rowid, * FROM prices WHERE close < 1 AND rowid > 1") # Pode adicionar LIMIT x(int) onde ira limtiar a bsucar por uma quantidade especifica
something = c.fetchall() # Passa todos os dados

conn.commit()
conn.close()

In [47]:
something

[(4, 0.5786, 0.97822, 0.37728, 0.21789),
 (5, 0.2988, 0.83555, 0.63877, 0.55085),
 (6, 0.08455, 0.72006, 0.86877, 0.35021),
 (7, 0.23455, 0.14299, 0.28153, 0.56613)]

In [48]:
# Drop
conn = sqlite3.connect('data.db')

c = conn.cursor()

c.execute("DROP TABLE prices")

conn.commit()
conn.close()