In [1]:
import MetaTrader5 as mt5
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
def get_data(symbol, date_from, date_to):
    eurusd = pd.DataFrame(mt5.copy_rates_range(symbol, mt5.TIMEFRAME_H1, date_from, date_to))
    #eurusd['time']=pd.to_datetime(eurusd['time'], unit='s')
    return eurusd
#eurusd.set_index('time', inplace=True)

In [3]:
ALL_PAIRS = ('EURCHF','EURGBP','EURJPY','EURNZD','EURUSD','EURAUD','EURCAD',
             'GBPAUD','GBPCHF','GBPJPY','GBPCAD','GBPUSD','GBPNZD','USDCHF',
             'USDJPY','AUDUSD','NZDUSD','USDCAD','AUDJPY','CADJPY','CHFJPY',
             'NZDJPY','AUDCHF','CADCHF','NZDCHF','AUDNZD','NZDCAD','AUDCAD')

ALL_PAIRS_OPEN = ('EURCHF_Open','EURGBP_Open','EURJPY_Open','EURNZD_Open','EURUSD_Open','EURAUD_Open','EURCAD_Open',
                  'GBPAUD_Open','GBPCHF_Open','GBPJPY_Open','GBPCAD_Open','GBPUSD_Open','GBPNZD_Open','USDCHF_Open',
                  'USDJPY_Open','AUDUSD_Open','NZDUSD_Open','USDCAD_Open','AUDJPY_Open','CADJPY_Open','CHFJPY_Open',
                  'NZDJPY_Open','AUDCHF_Open','CADCHF_Open','NZDCHF_Open','AUDNZD_Open','NZDCAD_Open','AUDCAD_Open')

ALL_PAIRS_CLOSE = ('EURCHF_Close','EURGBP_Close','EURJPY_Close','EURNZD_Close','EURUSD_Close','EURAUD_Close','EURCAD_Close',
                  'GBPAUD_Close','GBPCHF_Close','GBPJPY_Close','GBPCAD_Close','GBPUSD_Close','GBPNZD_Close','USDCHF_Close',
                  'USDJPY_Close','AUDUSD_Close','NZDUSD_Close','USDCAD_Close','AUDJPY_Close','CADJPY_Close','CHFJPY_Close',
                  'NZDJPY_Close','AUDCHF_Close','CADCHF_Close','NZDCHF_Close','AUDNZD_Close','NZDCAD_Close','AUDCAD_Close')

ALL_PAIRS_HIGH = ('EURCHF_High','EURGBP_High','EURJPY_High','EURNZD_High','EURUSD_High','EURAUD_High','EURCAD_High',
                  'GBPAUD_High','GBPCHF_High','GBPJPY_High','GBPCAD_High','GBPUSD_High','GBPNZD_High','USDCHF_High',
                  'USDJPY_High','AUDUSD_High','NZDUSD_High','USDCAD_High','AUDJPY_High','CADJPY_High','CHFJPY_High',
                  'NZDJPY_High','AUDCHF_High','CADCHF_High','NZDCHF_High','AUDNZD_High','NZDCAD_High','AUDCAD_High')

ALL_PAIRS_LOW = ('EURCHF_Low','EURGBP_Low','EURJPY_Low','EURNZD_Low','EURUSD_Low','EURAUD_Low','EURCAD_Low',
                  'GBPAUD_Low','GBPCHF_Low','GBPJPY_Low','GBPCAD_Low','GBPUSD_Low','GBPNZD_Low','USDCHF_Low',
                  'USDJPY_Low','AUDUSD_Low','NZDUSD_Low','USDCAD_Low','AUDJPY_Low','CADJPY_Low','CHFJPY_Low',
                  'NZDJPY_Low','AUDCHF_Low','CADCHF_Low','NZDCHF_Low','AUDNZD_Low','NZDCAD_Low','AUDCAD_Low')

In [16]:
if not mt5.initialize(login=50549136, password='TqmGUgqp', server='ICMarketsSC-Demo'):
    print("initialize() failed")
    mt5.shutdown()
    
date_from=datetime(2012,5,1)
date_to=datetime.today()
    
pairs = pd.DataFrame()
for index, values in enumerate(ALL_PAIRS):
    get = pd.DataFrame(get_data(values, date_from, date_to)).rename(columns={'open':ALL_PAIRS_OPEN[index], 'high':ALL_PAIRS_HIGH[index], 'low':ALL_PAIRS_LOW[index], 'close':ALL_PAIRS_CLOSE[index]})
    if index == 0:
        pairs['Time'] = get['time']
    pairs[ALL_PAIRS_OPEN[index]] = get[ALL_PAIRS_OPEN[index]]
    pairs[ALL_PAIRS_HIGH[index]] = get[ALL_PAIRS_HIGH[index]]
    pairs[ALL_PAIRS_LOW[index]] = get[ALL_PAIRS_LOW[index]]
    pairs[ALL_PAIRS_CLOSE[index]] = get[ALL_PAIRS_CLOSE[index]]

mt5.shutdown()

True

In [17]:
pairs
pairs['Time']=pd.to_datetime(pairs['Time'], unit='s')

In [18]:
pairs.isna().sum()[pairs.isna().sum() > 0]

GBPNZD_Open     40
GBPNZD_High     40
GBPNZD_Low      40
GBPNZD_Close    40
NZDCAD_Open     82
NZDCAD_High     82
NZDCAD_Low      82
NZDCAD_Close    82
dtype: int64

In [7]:
pairs

,Time,EURCHF_Open,EURCHF_High,EURCHF_Low,EURCHF_Close,EURGBP_Open,EURGBP_High,EURGBP_Low,EURGBP_Close,EURJPY_Open,...,AUDNZD_Low,AUDNZD_Close,NZDCAD_Open,NZDCAD_High,NZDCAD_Low,NZDCAD_Close,AUDCAD_Open,AUDCAD_High,AUDCAD_Low,AUDCAD_Close
0,2012-04-30 23:00:00,1.20125,1.20144,1.20107,1.20126,0.81532,0.81567,0.81526,0.81537,105.664,...,1.27240,1.27301,0.80791,0.80805,0.80568,0.80770,1.02925,1.02949,1.02870,1.02891
1,2012-05-01 00:00:00,1.20126,1.20131,1.20108,1.20124,0.81539,0.81552,0.81517,0.81552,105.701,...,1.27205,1.27234,0.80782,0.80814,0.80768,0.80806,1.02891,1.02906,1.02830,1.02867
2,2012-05-01 01:00:00,1.20124,1.20132,1.20114,1.20131,0.81550,0.81569,0.81539,0.81557,105.700,...,1.27207,1.27277,0.80806,0.80822,0.80766,0.80819,1.02866,1.02924,1.02828,1.02919
3,2012-05-01 02:00:00,1.20128,1.20132,1.20112,1.20114,0.81556,0.81569,0.81541,0.81553,105.812,...,1.27236,1.27261,0.80819,0.80857,0.80796,0.80831,1.02920,1.02982,1.02890,1.02923
4,2012-05-01 03:00:00,1.20115,1.20122,1.20106,1.20109,0.81554,0.81570,0.81534,0.81569,105.708,...,1.27227,1.27306,0.80831,0.80871,0.80731,0.80741,1.02925,1.02969,1.02825,1.02844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55152,2021-04-12 20:00:00,1.09901,1.09916,1.09857,1.09870,0.85661,0.85702,0.85608,0.85684,129.095,...,1.09019,1.09097,NaN,NaN,NaN,NaN,0.95466,0.95495,0.95396,0.95414
55153,2021-04-12 21:00:00,1.09870,1.09881,1.09842,1.09877,0.85684,0.85700,0.85600,0.85619,129.107,...,1.09081,1.09137,NaN,NaN,NaN,NaN,0.95414,0.95475,0.95371,0.95397
55154,2021-04-12 22:00:00,1.09877,1.09912,1.09854,1.09875,0.85619,0.85637,0.85611,0.85616,129.226,...,1.09049,1.09049,NaN,NaN,NaN,NaN,0.95396,0.95573,0.95357,0.95570
55155,2021-04-12 23:00:00,1.09875,1.09882,1.09827,1.09838,0.85617,0.85621,0.85588,0.85595,129.299,...,1.09049,1.09190,NaN,NaN,NaN,NaN,0.95570,0.95606,0.95524,0.95554
55156,2021-04-13 00:00:00,1.09843,1.09885,1.09792,1.09838,0.85595,0.85608,0.85583,0.85594,129.397,...,1.09126,1.09189,NaN,NaN,NaN,NaN,0.95553,0.95615,0.95486,0.95556

In [159]:
from numba import njit

In [163]:
@njit
def something():
    a = np.nan
    return 2**32

In [164]:
x = something()

In [165]:
x

4294967296